<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <h1><a href="/">Nashville Exterior Cleaning</a></h1>
  </header>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
